body{
    margin: 0px !important;
    padding: 0px !important;
}

.option-selected{
    height: 30px;
    width: 200px;
    background-color: orangered;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}
.option{
    height: 30px;
    width: 200px;
    border: solid rgb(175, 175, 175) 1px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
}

button{
    border-radius: 100px;
    padding: 3px 1px;
    background-color: rgb(37, 0, 139);
    color: white;
    width: 100px !important;
}

.sub-cat{
    font-size: 12px;
}

.nav-link{
    color: white !important;

}


.navbar-toggler{
    box-shadow: none;
    outline: none;
}
@media only screen and (min-width: 990px) {
    .navbar-brand {
      display: none;
    }
    .active{

        background-color: white;
        color: black !important;
        /* border-radius: 50px;width: 100px; */
        text-align: center;
    }
  }